@font-face {
    font-family: "calibri";
    src: url(Fonts/calibri.ttf);
}
@font-face {
    font-family: "Comic";
    src: url(Fonts/comic.ttf);
}
@font-face {
    font-family: "Lucida";
    src: url(Fonts/LCALLIG.TTF);
}
@font-face {
    font-family: "Oswald";
    src: url(Fonts/Oswald.TTF);
}
@font-face {
    font-family: "Roboto";
    src: url(Fonts/Roboto.TTF);
}
body{
    background-color: #F0F0FF;
    padding-top: 25px;
    margin: 0px;
}
#title{
    text-align: center;
    font-family: "Lucida";
    margin-bottom: 50px;
}
.title{
    text-align: center;
    font-family: "Lucida";
    margin-bottom: 50px;
}
section{
    padding-left: 100px;
}
div.outer{
    padding: 0;
    margin-bottom: 40px;
}
input{
    padding: 10px 3px;
    background-color: transparent;
    border: 1px solid #999;
    border-radius: 100px;
    text-align: center;
    font-size: 14px;
    width: 100px;
    font-family: "Oswald";
    letter-spacing: 0.5px;
    outline: none;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button{
    appearance: none;
}
input:focus{
    outline: 1px solid #384AEB;
    border: 1px solid #384AEB;
}
input#namein{
    width: 200px;
}
p#note{
    color: red;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: bold;
    display: inline;
    margin-left: 40px;
}
hr{
    margin-top: 30px;
    background-color: #384AEB;
    padding: 0.24px;
}
pre{
    font-size: 24px;
    font-weight: bold;
    display: inline;
}
.btn{
    padding: 10px 20px;
    border: 1px solid #384AEB;
    border-radius: 100px;
    background-color: #384AEB;
    color: white;
    font-size: 14px;
    font-family: "Oswald";
    letter-spacing: 0.5px;
    text-align: center;
    margin-left: 10px;
    cursor: not-allowed;
    opacity: 0.5;
    transition: all 0.3s;
}
.anim:hover{
    background-color: transparent;
    color: black;
    border: 1px solid #999;
}
.anim:active{
    background-color: #C1C1C1;
    color: black;
    border: 1px solid #999;
}
#mes0, #mes1, #mes2, #mes3, #mes4, #mes5, #mes6, #mes7, #mes8{
    color: green;
    font-family: "Comic";
    display: none;
}
#error, #error2, #error3{
    color: red;
    font-family: "Comic";
    display: none;
}
#rank, #rank2, #rank3, #degree1, #degree2, #degree3, #name, #name2, #name3{
    color: rgb(0, 0, 220);
    font-family: "Comic";
    font-size: 28px;
}
#name, #name2, #name3, table#tbl tr td.name{
    font-family: "calibri";
}

table#tbl{
    width: 60%;
    display: none;
}
.tbl_head{
    color: green;
    font-family: "Comic";
    font-size: 24px;
}
table#tbl, table#tbl tr, table#tbl th, table#tbl td{
    border: 1.5px solid black;
    border-collapse: collapse;
    padding: 7px;
}
table#tbl tr th.num{
    width: 6%;
}
table#tbl tr th.name_head{
    width: 50%;
}
table#tbl tr th.deg{
    width: 24%;
}
table#tbl tr th.rank{
    width: 20%;
}
table#tbl tr td{
    color: rgb(0, 0, 220);
    font-family: "Comic";
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    #title, .title{
        font-size: 50px;
    }
    .title{
        margin: 50px 0px 90px;
    }
    section{
        padding-left: 100px;
        padding-right: 100px;
    }
    hr.mid{
        margin-top: 60px;
    }
    hr.fin{
        margin-top: 60px;
    }
    input#namein{
        width: 300px;
        font-size: 24px;
        padding: 30px 6px;
    }
    input#rankin, input#degree{
        width: 200px;
        font-size: 24px;
        padding: 30px 6px;
    }
    .btn{
        font-family: "Oswald";
        font-size: 24px;
        padding: 30px 40px;
        margin-left: 40px;
    }
    table#tbl{
        width: 100%;
    }
    table#tbl th{
        font-size: 29px;
    }
    table#tbl tr td{
        font-size: 34px;
    }
    table#tbl tr th.num{
        width: 8%;
    }
    table#tbl tr th.name_head{
        width: 57%;
    }
    table#tbl tr th.deg{
        width: 20%;
    }
    table#tbl tr th.rank{
        width: 15%;
    }
    .anim:hover{
        background-color: #384AEB;
        color: white;
        border: 1px solid #384AEB;
    }
    .anim:active{
        background-color: #C1C1C1;
        color: black;
        border: 1px solid #999;
    }
    p#note{
        display: none;
    }
    #mes0, #mes1, #mes2, #mes3, #mes4, #mes5, #mes6, #mes7, #mes8{
        font-size: 36px;
    }
    #rank, #rank2, #rank3, #degree1, #degree2, #degree3, #name, #name2, #name3{
        font-size: 42px;
    }
}
